.DarkBrown{
    -fx-background-color: #774936;
}

.MediumBrown{
    -fx-background-color: #9D6B53;
}

.MediumLightBrown{
    -fx-background-color: #C38E70;
}

.LightBrown{
    -fx-background-color: #DEAB90;
}

.DarkOrange{
    -fx-background-color: #CC5803;
}

.MediumOrange{
    -fx-background-color: #E2711D;
}

.MediumLightOrange{
    -fx-background-color: #FF9505;
}

.LightOrange{
    -fx-background-color: #FFB627;
}

.SuperLightOrange{
    -fx-background-color: #D65267;
}

.BorderDarkGreen{
    -fx-border-color:  #313B2B;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.BorderWhite{
    -fx-border-color: white;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.BorderMedium{
    -fx-border-color: #9D6B53;
    -fx-border-width: 2px;
    -fx-border-style: dashed;
}

.BorderPink{
    -fx-border-color: #D4888F;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.BorderOrange{
    -fx-border-color: #BF6A2C;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.BorderBlue{
    -fx-border-color: #40607A;
    -fx-border-width: 1px;
    -fx-border-style: solid;
}

.shadow{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.5), 10, 0, 0, 0);
}

.WhiteText{
    -fx-text-fill: white;
}
.combo-box .list-cell{
    -fx-text-fill: white;
}
.combo-box .list-view .list-cell{
    -fx-text-fill: black;
}

.combo-box .list-cell{
    -fx-text-fill: white;
}

.combo-box .list-view .list-cell{
    -fx-text-fill: black;
}
